# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# API ключи для сервиса Exchange Rates Data API (www.api.apilayer.com/exchangerates_data)
API_KEY_rates=your_API_key

# API ключи для сервиса данных об акциях (www.alphavantage.com)
API_KEY__stocks=your_API_key